/*********
* Footer *
*********/
address {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    padding-bottom: 2rem;
    background-color: var(--banner-bg-color);
}

address a {
    color: white;
    text-decoration: none;
}

address a:hover {
    color: var(--accent-color) !important;
}


/***********************
* Media Query - Medium *
***********************/
@media (min-width: 900px) {
    /* Contact Section */
    #contact-container ul {
        flex-direction: row;
        gap: 5rem;
    }
}